<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src = "https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"></script>

   <input type="text" id="latitude" placeholder="latitude" />
     <input type="text" id="longitude" placeholder="longitude"/>
      <input type="text" id="Batteryvoltage" placeholder="Batteryvoltage" />
       <input type="text" id="deviceId" placeholder="deviceId"  value="22556668"/>
    <input type="button" onclick="send()" />
          
         <div id = "message-container"></div>

    <script>

  socket = io('http://159.89.82.215:6888');
  var deviceId;
  deviceId=document.getElementById('deviceId').value;
 socket.on('UserLatLong'+deviceId , function(data) {// User ID e.g. if 2 then method will be recivedPTEMsg2
	console.log(data);
  			document.getElementById('message-container').append(JSON.stringify(data));
         })
		 
		function send() {
        latitude=document.getElementById('latitude').value;
        longitude=document.getElementById('longitude').value;
        Batteryvoltage=document.getElementById('Batteryvoltage').value;
        deviceId=document.getElementById('deviceId').value;
        socket.emit('updateUserLatLong', {"username":"User007","password":"admin","datatimestamp":"080417.000","latitude":latitude,"longitude":longitude,"Batteryvoltage":'Batteryvoltage',"deviceId": deviceId});

        socket.emit('updateversion', {"user":"1"});

                socket.emit('msgtohardware',{
"version" : "2.0",
'url' : 'http://example.com/filename.extension',
'schedule' : 'now|nextBoot|X Minutes Later',
'Attempt' : 'noOfAttempts',
'deviceId':'22556668'
}
);


        
  	  
		}
  
  
       
   </script>
   

