<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src = "https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"></script>

        <input type="text" id="deviceId" placeholder="deviceId"  value="22556668"/>
    <input type="button" onclick="send()" value="fota" />
     <input type="button" onclick="poweroff()" value="POWER OFF" />

          <input type="button" onclick="active()" value="Active Mode" />

     <input type="button" onclick="passive()" value="Passive Mode" />
      <input type="button" onclick="off()" value="OFF Mode" />

      <input type="button" onclick="reset()" value="RESET" />

    
          
         <div id = "message-container"></div>

    <script>

  socket = io('http://13.232.64.92:6888');
  var deviceId;
  function send() {
    //alert('fota request sent ')
         deviceId=document.getElementById('deviceId').value;
         $.getJSON('http://13.232.64.92:5000/showVersion', function(data) {
data.schedule=0;data.Attempt=5;
      // socket.emit('firmwareupdate',{"version" : "2.0","url" : "http://159.89.82.215/osilar/APPGS3MDM32A01_Upgrade_Package.bin","schedule" :0,"Attempt" : "5"});
      socket.emit('firmwareupdate',data);

      console.log(data);
     
});
 
 




        
      
    }
 
 function poweroff() {
         deviceId=document.getElementById('deviceId').value;
         
 
   socket.emit('Poweroff',

    {"operationMode" :0,"tbch" :0,
"deviceId":deviceId
}

);} 

function reset() {
         deviceId=document.getElementById('deviceId').value;
         
 
   socket.emit('ResetRequest',

    {"operationMode" :0,"tbch" :0,
"deviceId":deviceId
}

);} 

   
  

  function active() {
         deviceId=document.getElementById('deviceId').value;
         
 
   socket.emit('oprationmode',
{
"deviceId":deviceId,
"operationMode" : "Active" , "tbch" :4

}

);} 

   function off() {
         deviceId=document.getElementById('deviceId').value;
         
 
   socket.emit('oprationmode',
{
"deviceId":deviceId,
"operationMode" : "3" , "tbch" :4

}

);} 

   function passive() {
         deviceId=document.getElementById('deviceId').value;
         
 
   socket.emit('oprationmode',
{
"deviceId":deviceId,
"operationMode" : "Passive" , "tbch" :4 


});} 
       
   </script>
   

