     <ul id="messages"></ul>
<form action="">
      <input id="m" autocomplete="off" /><button>Send</button>
    </form>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.1/socket.io.js"></script>
    <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
    <script>
      $(function () {
        var socket = io('https://marathon.osilar.com:6888');
        $('form').submit(function(){
         tbchval= $('#m').val()
          socket.emit('oprationmodeBroadcast',{"operationMode" : "Active", "tbch" : tbchval });
          $('#m').val('');
          return false;
        });
        socket.on('oprationmodeBroadcast', function(msg){
          $('#messages').append($('<li>').text('interval: '+msg));
          window.scrollTo(0, document.body.scrollHeight);
        });
      });
    </script>