<!DOCTYPE html>
<html>
<head>
	<style>
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  padding: 5px;
  text-align: left;    
}
</style>
</head>
<body>
<table class="table table-inverse">
      <thead>
        <tr>
          <th>filename</th>
          <th>version</th>
        </tr>
      </thead>

      <tbody>
       <tr>
         <td><%= result.filename %></td>
         <td><%= result.version %></td>
       </tr>
      </tbody>

    </table>
</body>
</html>

    <script src = "https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"></script>
     <script>
  socket = io('http://13.232.64.92:6888');
 socket.emit('firmwareupdate',{
"version" : "<%= result.version %>",
'url' : "<%= result.filename %>",
'schedule' : 1,
'Attempt' : '5'
 
});

</script>